
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>This is the list of Tutors for </h2>
{% for subject in subjects %}
  <p>Name: {{ subject.name }}</p>
  <p>Tutor: {{ subject.user.name }}</p>
  <hr />

{% endfor %}

<a href="/logout/"><button class="btn dento-btn">Logout</button></a>
<a href="{% url 'edit_profile' user.username %}"><button class="btn dento-btn">Edit User</button></a>
<a href="{% url 'subject_show' user.id %}"><button class="btn dento-btn">Show my Subjects</button></a>
<a href="{% url 'subject_index' user.username %}"><button class="btn dento-btn">Subject Index</button></a>
{% endblock %}
