{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="/subject/create">Add a New Subject!</a>
    <hr />
{% if subjects %}
    {% for subject in subjects %}
        <p>Name: {{ subject.name }}</p>
        <p>Description: {{ subject.description }}</p>
        <hr />
        <a href="{% url 'assoc_sub' user.id subject.id %}"><button class="btn dento-btn" >add to my subjects</button></a>
        <a href="{% url 'subject_delete' user.id subject.id %}"><button class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Delete the Subject</button></a>
    {% endfor %}
{% else %}
    <h3>No subjects selected yet</h3>
{% endif %}
<br>
<a href="/logout/"><button class="btn dento-btn">Logout</button></a>
<a href="{% url 'profile' user.username %}"><button class="btn dento-btn">Back to Profile</button></a>
<a href="{% url 'subject_create' user.username %}"><button class="btn dento-btn">Create Subject</button></a>
{% endblock %}
