{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr />
    {% for subject in subjects %}
        <p>Name: {{ subject.name }}</p>
        <p>Description: {{ subject.description }}</p>
        <hr />
    {% endfor %}
<a href="/logout/"><button class="btn dento-btn">Logout</button></a>
<a href="{% url 'profile' user.username %}"><button class="btn dento-btn">Back to Profile</button></a>
<a href="{% url 'subject_create' user.username %}"><button class="btn dento-btn">Create Subject</button></a>
{% endblock %}
